.main {
    margin-top: 40px;
    font-size: 0.8em;
}
.main div {
    box-sizing: border-box;
}
.main-register {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 10px 10px;
}

.App-logo {
    padding: 10px 10px 10px;
    width: 15%;
}


.direction_btn {
    margin-right: 4rem;
    margin-left: 4rem;
}

.direction_button {
    background-color: #1E90FF;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.home-tab {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
    margin-bottom: 2rem;
}