.App-header {
    background-color: #282c34;
    color: white;
    height: 50px;
}

.App-title {
    float: left;
    padding-top: 13px;
    padding-left: 15px;
    font-weight: bold;
    font-size: 17px;
    color: white;
}

.logout {
    color: white;
    float: right;
    padding-top: 13px;
    padding-right: 13px;
}